@mixin no-select() {
  pointer-events: none;
  user-select: none;
}
@mixin a-reset() {
  text-decoration: none;
  color: inherit;
}

@mixin ul-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset() {
  padding: 0;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
@mixin absolute-centered() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
